$color-fb: #3b5998;
$color-4y: #336699;
$color-black: #000;
$color-black-sub: #111;
$color-satan: #666;
$color-gray: #999;
$color-black-trans: rgba(0,0,0,0.5);
$color-white: #eee;
$color-white-trans: rgba(255,255,255,0.75);
$color-red: #c10000;
$color-red-trans: rgba(75,0,0,0.5);
$color-gray-trans: rgba(40,40,40,0.5);
$color-silver: #ccc;
$color-silver-lite: #eee;
$color-silver-trans: rgba(204,204,204,0.75);

// flat-ui

$color-orange: #f39c12;
$color-sunflower: #f1c40f;

$color-carrot: #e67e22;
$color-pumpkin: #d35400;

$color-pomegranate: #c0392b;
$color-alizarin: #e74c3c;

$color-asbestos: #7f8c8d;
$color-concrete: #95a5a6;

$color-greensea: #16a085;
$color-turquoise: #1abc9c;

$color-nephritis: #27ae60;
$color-emerald: #2ecc71;

$color-belizehole: #2980b9;
$color-peterriver: #3498db;
